body {
    position: relative !important;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid rgba(40, 50, 72, 0.3);
    pointer-events: none; 
    z-index: 2147483647;
}

.draggable {
    -webkit-app-region: drag !important;
}

.draggable * {
    -webkit-app-region: no-drag;
}

#electron-window-controls {
    display: flex;
    align-items: center;
    margin-left: 20px;
    -webkit-app-region: no-drag;
}

.electron-window-button {
    width: 36px;
    height: 36px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace !important;
    font-weight: bold;
}