@import './index.scss';

.qrcode {
    height: 128px;
    width: 128px;
}

.qrcode-container {
    position: relative;
    display: inline-block;

    margin: 0 auto;
}

.qrcode-mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
}

.qrcode-mask.active {
    opacity: 1;
    visibility: visible;
}